<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>{% block titulo %}Produtos{% endblock %}</title>
 <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}">
</head>
<body>
  <nav>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('listar') }}">Produtos</a>
    <a href="{{ url_for('novo') }}">Novo</a>
  </nav>

  {% with mensagens = get_flashed_messages(with_categories=true) %}
    {% for categoria, texto in mensagens %}
      <div class="{{ categoria }}">{{ texto }}</div>
    {% endfor %}
  {% endwith %}

  {% block conteudo %}{% endblock %}
</body>
</html>