@charset "UTF-8";

body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Times New Roman", serif;
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

form {
    font-family: "Times New Roman", serif;
    font-size: 16px;
    max-width: 400px;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.resultado {
    font-family: "Times New Roman", serif;
    max-width: 400px;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}