@charset "UTF-8";

button, .botao {
  background: var(--verde);
  color: var(--marfim-claro);
  border: 1px solid var(--dourado);
  border-radius: 4px;
  transition: .3s;
  margin: 16px 0;
}
button:hover, .botao:hover {
  background: var(--dourado);
  color: var(--verde);
  opacity: 1;
}
.perigo { background: #8b2e2e; border-color: #8b2e2e; }

.sucesso { background: var(--marfim-claro); color: var(--verde); border-left: 4px solid var(--verde); }
.erro    { background: #f3d9d4; color: #7a1f1f; border-left: 4px solid #8b2e2e; }
a.botao, button { text-decoration: none; }
a { color: var(--verde); }