@charset "UTF-8";

form {
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    background: #07c22383;
    padding: 20px;
    border-radius: 8px;
}
label{
    font-weight: 600;
    color: #06f526;
}
input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #02ed54;
    border-radius: 6px;
    font: inherit;
}