@charset "UTF-8";

table { background: var(--marfim-claro); }
th { background: var(--verde); color: var(--marfim-claro); }
tr:not(:last-child) td { border-bottom: 1px solid var(--dourado); }
th, td { padding: 14px 16px; }

.acoes {
  display: flex;
  gap: 10px;
  align-items: center;
}